@page
@using RReviews.Enum
@model RReviews.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form>
    <p>
        <select asp-for="ReviewType" asp-items="Model.Types">
            <option value="">All</option>
        </select>
        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model.Review)
    {
        <div class="col">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ObjectName)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.ReviewTypeObject)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.TestingDate)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Content)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Cost)</p>
                </div>
                <div class="card-footer card-footer-custom">
                    <div class="card-footer-block-1">
                        <small class="text-muted">
                            Рейтинг: @Html.DisplayFor(modelItem => item.ReviewRating)
                        </small>
                    </div>
                    <div class="card-footer-block-2">
                        <button class="btn btn-info">
                            <a asp-page="./Details" asp-route-id="@item.Id">Посмотреть</a>
                        </button>
                    </div>                    
                </div>
             </div>
        </div>
    }  
</div>